<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyAdvanceBillingProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registeruser</display-name>
    <servlet-name>registeruser</servlet-name>
    <servlet-class>com.user.registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeruser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.user.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutservlet</display-name>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>com.user.logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSession</display-name>
    <servlet-name>CheckSession</servlet-name>
    <servlet-class>com.user.CheckSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSession</servlet-name>
    <url-pattern>/CheckSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addProduct</display-name>
    <servlet-name>addProduct</servlet-name>
    <servlet-class>com.user.addProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProduct</display-name>
    <servlet-name>deleteProduct</servlet-name>
    <servlet-class>com.user.deleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProduct</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProduct</display-name>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>com.user.updateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProduct</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>find</display-name>
    <servlet-name>find</servlet-name>
    <servlet-class>com.user.find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>find</servlet-name>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Find</display-name>
    <servlet-name>Find</servlet-name>
    <servlet-class>com.user.Find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find</servlet-name>
    <url-pattern>/Find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBill</display-name>
    <servlet-name>CreateBill</servlet-name>
    <servlet-class>com.user.CreateBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBill</servlet-name>
    <url-pattern>/CreateBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearTableData</display-name>
    <servlet-name>ClearTableData</servlet-name>
    <servlet-class>com.user.ClearTableData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearTableData</servlet-name>
    <url-pattern>/ClearTableData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearData</display-name>
    <servlet-name>ClearData</servlet-name>
    <servlet-class>com.user.ClearData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearData</servlet-name>
    <url-pattern>/ClearData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeTax</display-name>
    <servlet-name>ChangeTax</servlet-name>
    <servlet-class>com.user.ChangeTax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeTax</servlet-name>
    <url-pattern>/ChangeTax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBillProd</display-name>
    <servlet-name>AddBillProd</servlet-name>
    <servlet-class>com.user.AddBillProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBillProd</servlet-name>
    <url-pattern>/AddBillProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inventory</display-name>
    <servlet-name>Inventory</servlet-name>
    <servlet-class>com.user.Inventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inventory</servlet-name>
    <url-pattern>/Inventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkprofile</display-name>
    <servlet-name>checkprofile</servlet-name>
    <servlet-class>com.user.checkprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkprofile</servlet-name>
    <url-pattern>/checkprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeServlet</display-name>
    <servlet-name>AddEmployeServlet</servlet-name>
    <servlet-class>com.employe.AddEmployeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeServlet</servlet-name>
    <url-pattern>/AddEmployeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEmploye</display-name>
    <servlet-name>SearchEmploye</servlet-name>
    <servlet-class>com.employe.SearchEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmploye</servlet-name>
    <url-pattern>/SearchEmploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmploye</display-name>
    <servlet-name>UpdateEmploye</servlet-name>
    <servlet-class>com.employe.UpdateEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmploye</servlet-name>
    <url-pattern>/UpdateEmploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmploye</display-name>
    <servlet-name>DeleteEmploye</servlet-name>
    <servlet-class>com.employe.DeleteEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmploye</servlet-name>
    <url-pattern>/DeleteEmploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailServlet</display-name>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/SendMailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>com.user.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeProfileServlet</display-name>
    <servlet-name>ChangeProfileServlet</servlet-name>
    <servlet-class>com.user.ChangeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeProfileServlet</servlet-name>
    <url-pattern>/ChangeProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassServlet</display-name>
    <servlet-name>ChangePassServlet</servlet-name>
    <servlet-class>com.user.ChangePassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassServlet</servlet-name>
    <url-pattern>/ChangePassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPurchases</display-name>
    <servlet-name>AddPurchases</servlet-name>
    <servlet-class>com.user.AddPurchases</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPurchases</servlet-name>
    <url-pattern>/AddPurchases</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpSalary</display-name>
    <servlet-name>EmpSalary</servlet-name>
    <servlet-class>com.employe.EmpSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpSalary</servlet-name>
    <url-pattern>/EmpSalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove</display-name>
    <servlet-name>Remove</servlet-name>
    <servlet-class>com.user.Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateSale</display-name>
    <servlet-name>DateSale</servlet-name>
    <servlet-class>com.user.DateSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateSale</servlet-name>
    <url-pattern>/DateSale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletefrmbillTable</display-name>
    <servlet-name>DeletefrmbillTable</servlet-name>
    <servlet-class>com.user.DeletefrmbillTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletefrmbillTable</servlet-name>
    <url-pattern>/DeletefrmbillTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoBack</display-name>
    <servlet-name>GoBack</servlet-name>
    <servlet-class>com.user.GoBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoBack</servlet-name>
    <url-pattern>/GoBack</url-pattern>
  </servlet-mapping>
</web-app>